#gameCanvas,
#scoreContainer,
#controlsContainer,
#speedContainer,
#leaderboardContainer {
  border: 1px solid #000000;
}

#scoreContainer,
#controlsContainer,
#speedContainer,
#leaderboardContainer {
  padding: 1em;
}

#container {
  display: none;
  /* Working around a potential Firefox bug by using fr instead of % - 
    see https://bugzilla.mozilla.org/show_bug.cgi?id=1609495 */
  grid-template-columns: 35fr 30fr 35fr;
  grid-template-rows: 1fr 20fr 30fr 30fr 20fr 1fr;
  justify-items: center;
  align-items: center;
}

#controlsContainer {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

#leaderboardContainer {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

#gameContainer {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 6;
}

#gameOverContainer {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 6;
  font-size: 7em;
  z-index: 1;
}

#speedContainer {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

#scoreContainer {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

#keymapContainer,
#leaderboardEntries {
  display: grid;
  align-items: center;
}

#keymapContainer {
  grid-template-columns: 1fr 1fr;
}

#leaderboardEntries {
  grid-template-columns: 2fr 1fr;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* inspired by https://css-tricks.com/snippets/css/shake-css-keyframe-animation/ */

.shaken {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97);
}

@keyframes shake {
  10%,
  90% {
    transform: translate(-1px, 1px);
  }

  20%,
  80% {
    transform: translate(2px, -2px);
  }

  30%,
  50%,
  70% {
    transform: translate(-4px, -4px);
  }

  40%,
  60% {
    transform: translate(4px, 4px);
  }
}

/*
Inspired by https://ux.stackexchange.com/questions/55220/what-character-can-i-use-to-represent-the-space-bar
*/

keyboard-key {
  display: inline-block;
  margin: 0.2rem 0.1rem;
  padding: 0.1rem 0.6rem;
  font-size: 1.1rem;
  line-height: 1.6rem;
  text-shadow: 0 1px 0 white;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(12, 13, 14, 0.15), inset 0 1px 0 0 white;
}

.heading {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.pad-bottom {
  padding-bottom: 0.5rem;
}

.modal {
  display: block;
  width: 50rem;
  max-width: 80%;
  height: 30rem;
  max-height: 20%;
  padding: 2rem;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.5);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.1);
}

.closed {
  display: none;
}

#close-modal-button {
  float: right;
}
